.picture {
    width: auto;
    max-width: 90%;
    max-height: 100%;
}

.pictureContainer {
    max-height: 100%;
}

.paper {
    display: flex;
    text-align: center;
    margin: 0.5rem;
    box-sizing: border-box;
    height: calc(100% - 1rem);
}

.container {
    padding: 0.5rem 0;
}

.paper hr {
    margin: 2px 0;
}